{% extends 'products/base.html' %}
{% load static cache %}
{% load catalog_tags %}
{% load humanize %}

{% block main %}

<div class="container">
    <!--icon cards/table-->

    <div class="row mt-2">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
            {% if view_cards %}
                {% if category_selected != 0 %}
                <a href="#" class="btn btn-secondary disabled btn-sm">
                    <i class="fa-solid fa-table-cells-large fa-lg p-2"></i>
                </a>
                <a href="{% url 'category_table_page' slug %}" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-bars fa-lg p-2"></i>
                </a>
                {% else %}
                <a href="#" class="btn btn-secondary disabled btn-sm">
                    <i class="fa-solid fa-table-cells-large fa-lg p-2"></i>
                </a>
                <a href="{% url 'products_table_catalog' %}" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-bars fa-lg p-2"></i>
                </a>
                {% endif %}
            {% else %}
                {% if category_selected != 0 %}
                <a href="{% url 'category_page' slug %}" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-table-cells-large fa-lg p-2"></i>
                </a>
                <a href="#" class="btn btn-secondary disabled btn-sm">
                    <i class="fa-solid fa-bars fa-lg p-2"></i>
                </a>
                {% else %}
                <a href="{% url 'products_catalog' %}" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-table-cells-large fa-lg p-2"></i>
                </a>
                <a href="#" class="btn btn-secondary disabled btn-sm">
                    <i class="fa-solid fa-bars fa-lg p-2"></i>
                </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <!--End icon cards/table-->

    <div class="row">
        <div class="col-lg-3">
            <!--        Filter categories-->
            {% if view_cards %}
                <div class="list-group mt-4">
                    {% if category_selected == 0 %}
                <a href="#"class="list-group-item disabled">Все категории</a>
                {% else %}
                <a href="{% url 'products_catalog' %}"class="list-group-item">Все категории</a>
                {% endif %}
                    {% for category in categories %}
                    {% if category.product__count > 0 %}
                        {% if category.pk == category_selected %}
                            <a href="#"class="list-group-item disabled">{{category.name}}</a>
                        {%  else %}
{#                            <a href="{{category.get_absolute_url}}" class="list-group-item">{{category.name}}</a>#}
                            <a href="{% url 'category_page' category.slug %}" class="list-group-item">{{category.name}}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
                <div class="list-group mt-4">
                    {% if category_selected == 0 %}
                <a href="#"class="list-group-item disabled">Все категории</a>
                {% else %}
                <a href="{% url 'products_table_catalog' %}"class="list-group-item">Все категории</a>
                {% endif %}
                    {% for category in categories %}
                    {% if category.product__count > 0 %}
                        {% if category.pk == category_selected %}
                            <a href="#"class="list-group-item disabled">{{category.name}}</a>
                        {%  else %}
{#                            <a href="{{category.get_absolute_url}}" class="list-group-item">{{category.name}}</a>#}
                            <a href="{% url 'category_table_page' category.slug %}" class="list-group-item">{{category.name}}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!--        End Filter categories-->
        </div>

        <div class="col-lg-9">
            {% if view_cards %}
            <!--Cards-->
            <div class="row row-cols-2 row-cols-md-4 g-4 mt-0 mb-4">
{#            {% cache 30 products %}#}
              {% for p in products %}
              <div class="col" id="{{ p.pk }}">
                <div class="card h-100 text-center">
                    <div class="d-flex flex-column" style="align-items: center">
                      {% if p.image %}
                      <img src="{{p.image.url}}" class="card-img-top"  style="height: 100px; width: 120px" alt="...">
                      {% endif %}
                    <a data-caption="Фейерверк Тик-так" href="https://video.rufire.ru/9461.mp4"
                        class="cart-product-body-left-description-top-video__link cart-link_hover"
                        style="text-decoration: none; font-style:italic; color: gray">
    {#                  <i class="fa-solid fa-video" style="color: gray"></i>#}
                        <text >видео</text>
                    </a>
                    </div>
                  <div class="card-body" style="padding: 2px; border-radius: 5px">
                      <div class="d-flex" style="height: 80px; justify-content: center; align-items: center">
{#                        <h7 class="card-title"><a href="{{p.get_absolute_url}}"#}
{#                                              style="text-decoration: none; color: black">{{p.name}}</a></h7>#}
                          <a href="#" class="" style="text-decoration: none; color: black"
                                  data-bs-toggle="popover"
                                  data-bs-placement="top"
                                  data-bs-custom-class="custom-popover"
{#                                  data-bs-trigger="focus"#}
                                  data-bs-title="Характеристика"
                                  data-bs-content="Калибр: {{p.characteristic.caliber}} мм.
                                                   Время работы: {{p.characteristic.time_work}} сек.
                                                   Высота выстрела: {{p.characteristic.shot_height}} м.
                                                   Кол-во зарядов: {{p.characteristic.number_of_charges}} шт.">
                              {{p.name}}
                          </a>
                      </div>
{#                      <hr class="divider m-0">#}
                      <div class="d-flex" style="height: 30px; justify-content: center; align-items: center">
                        <h7> <em>{{p.price|intcomma}} руб.</em></h7>
                      </div>
                      <div class="d-flex" style="justify-content: center; align-items: center">

                      </div>
{#                    <p class="card-text">Калибр: {{p.characteristic.caliber}} мм.</p>#}
{#                    <p class="card-text">Время работы: {{p.characteristic.time_work}} сек.</p>#}
{#                    <p class="card-text">{{p.description|linebreaks|truncatewords:20}}</p>#}
                  </div>
                  <div class="card-footer text-center" id="cardfooter{{ p.pk }}">
                    <div id="cardfooterdiv{{ p.pk }}">
                      {% if request.user.is_authenticated %}
                          {% if p.pk in baskets_product_id %}
                              <a href="{% url 'basket_minus_auth' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                 id="{{ p.pk }}">-</a>
                              <a href="#" class="btn btn-success btn-sm disabled">{%  get_BasketAuth_product_amount request=request pk=p.pk %}</a>
                              <a href="{% url 'basket_add_auth' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                 id="{{ p.pk }}">+</a>
                          {% else %}
                              <a href="{% url 'basket_add_auth' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                 id="{{ p.pk }}">В корзину</a> {# В js используется id (№) для идентификации объекта из списка #}
                          {% endif %}
                      {% else %}
                          {% if p.pk in baskets_product_id %}
                              <a href="{% url 'basket_minus' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                 id="{{ p.pk }}">-</a>
                              <a href="#" class="btn btn-success btn-sm disabled">{%  get_BasketFk_product_amount request=request pk=p.pk %}</a>
                              <a href="{% url 'basket_add' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                 id="{{ p.pk }}">+</a>
                          {% else %}
                              <a href="{% url 'basket_add' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                 id="{{ p.pk }}">В корзину</a> {# В js используется id (№) для идентификации объекта из списка #}
                          {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
{#            {% endcache %}#}
            </div>
            <!--End Cards-->
            {% else %}
            <!--Table-->
            <div class="table-responsive-sm">
                <table class="table table-hover table-sm" style="height: 100px;">
                    <thead class="table-light text-center">
                    <tr>
{#                        <th scope="col">Артикль</th>#}
                        <th scope="col">Название</th>
                        <th scope="col"></th>
                        <th class="d-none d-sm-block" scope="col"></th>
                        <th scope="col">Цена</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for p in products %}
                    <tr class="text-center align-middle">
{#                        <td>{{ p.article }}</td>#}
                        <td style="width: 150px"><small>{{ p.article }}  {{ p.name }}</small></td>
                        <td >
                            <a data-caption="Фейерверк Тик-так" href="https://video.rufire.ru/9461.mp4"
                               class="cart-product-body-left-description-top-video__link cart-link_hover">
                                <i class="fa-solid fa-video" style="color: gray"></i>
                            </a>
                        </td>
                        <td class="d-none d-sm-block"> <img src="{{p.image.url}}" style="width: 50px; height: 50px"  alt="..."></td>
                        <td> {{ p.price|intcomma}}р.</td>
                        <td id="cardfooter{{ p.pk }}" style="width: 110px">
                            <div id="cardfooterdiv{{ p.pk }}">
                                {% if request.user.is_authenticated %}
                                    {% if p.pk in baskets_product_id %}
                                      <a href="{% url 'basket_minus_auth' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                         id="{{ p.pk }}">-</a>
                                      <a href="#" class="btn btn-success btn-sm disabled">{%  get_BasketAuth_product_amount request=request pk=p.pk %}</a>
                                      <a href="{% url 'basket_add_auth' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                         id="{{ p.pk }}">+</a>
                                    {% else %}
                                      <a href="{% url 'basket_add_auth' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                         id="{{ p.pk }}">В корзину</a> {# В js используется id (№) для идентификации объекта из списка #}
                                    {% endif %}
                                {% else %}
                                    {% if p.pk in baskets_product_id %}
                                      <a href="{% url 'basket_minus' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                         id="{{ p.pk }}">-</a>
                                      <a href="#" class="btn btn-success btn-sm disabled">{%  get_BasketFk_product_amount request=request pk=p.pk %}</a>
                                      <a href="{% url 'basket_add' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                         id="{{ p.pk }}">+</a>
                                    {% else %}
                                      <a href="{% url 'basket_add' p.slug %}" class="btn btn-outline-success btn-sm plus_or_minus_to_basket"
                                         id="{{ p.pk }}">В корзину</a> {# В js используется id (№) для идентификации объекта из списка #}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--End Table-->
            {% endif %}

            <!--Пагинация-->
            {% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                      {% endif %}
                      {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{p}}">{{p}}<span class="sr-only"></span></a></li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                      {% endif %}
                  </ul>
                </nav>
            {% endif %}
            <!--Конец погинации-->
        </div>
    </div>
</div>

{% endblock main %}