{% extends 'products/base.html' %}
{% load static cache %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!--Filter categories-->
                <div class="list-group mt-4">
                    {% if category_selected == 0 %}
                        <a href="#" class="list-group-item disabled">Все категории</a>
                    {% else %}
                        <a href="{% url 'products_catalog' %}" class="list-group-item">Все категории</a>
                    {% endif %}
                    {% for category in categories %}
                        {% if category.product__count > 0 %}
                            {% if category.pk == category_selected %}
                                <a href="#" class="list-group-item disabled">{{ category.name }}</a>
                            {% else %}
                                <a href="{{ category.get_absolute_url }}"
                                   class="list-group-item">{{ category.name }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!--End Filter categories-->
            </div>

            <div class="col-lg-9">

                <!--Cards-->
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-0 mb-4">
                    {% for p in products %}
                        <div class="col">
                            <div class="card h-100">
                                {% if p.image %}
                                    <img src="{{ p.image.url }}" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h5>
                                    <h5>{{ p.price }} руб.</h5>
                                    <p class="card-text">Калибр: {{ p.characteristic.caliber }} мм.</p>
                                    <p class="card-text">Время работы: {{ p.characteristic.time_work }} сек.</p>
                                </div>
                                <div class="card-footer text-center">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'basket_add_auth' p.slug %}" class="btn btn-outline-success"> В
                                            корзину </a>
                                    {% else %}
                                        <a href="{% url 'basket_add' p.slug %}" class="btn btn-outline-success"> В
                                            корзину </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--End Cards-->

                <!--Пагинация-->
                {% if page_obj.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for p in paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{ p }}">{{ p }}<span
                                                class="sr-only"></span></a></li>
                                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                <!--Конец погинации-->
            </div>
        </div>
    </div>
{% endblock main %}