{% extends 'products/base.html' %}
{% load static %}

{% block main %}
<!--Сarousel-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'products/images/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'products/images/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'products/images/3.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!--End Сarousel-->

<!--Lorem-->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur aut culpa, debitis deserunt iste modi
    nesciunt nobis numquam officia optio, praesentium quae qui quod ratione repudiandae sunt. Aperiam distinctio
    exercitationem incidunt molestiae vel! Animi commodi debitis dignissimos eius illo molestias necessitatibus neque
    praesentium quaerat, ratione repellat saepe totam, voluptas. Expedita iste iure nam odit unde! Ab aliquid at autem
    beatae consectetur corporis cum cumque deleniti dignissimos eos est eveniet exercitationem explicabo fugiat id illo
    in inventore iusto labore magni maiores nesciunt nobis, officiis placeat possimus quaerat quam quibusdam quisquam,
    recusandae rem sapiente sed tenetur totam ut voluptas voluptates voluptatibus? Assumenda atque ducimus fugit nam
    nesciunt officia suscipit velit voluptas. Alias, amet assumenda aut blanditiis consequatur consequuntur dicta,
    distinctio ea est expedita facilis harum hic illum labore magni minima necessitatibus non nulla obcaecati placeat
    possimus praesentium qui quibusdam quisquam rem saepe sed, sequi sint suscipit totam ullam ut voluptatem
    voluptatibus! Delectus itaque labore laudantium maiores mollitia quasi quia, vero? Amet est eum fugiat in maxime
    minima reiciendis unde voluptate. Aspernatur at earum eligendi ex illo magnam officiis saepe ullam unde. Ex hic
    omnis saepe totam velit? Ab ad aspernatur fugit impedit inventore minima nisi quis sint sunt voluptatum. Dignissimos
    iure laborum libero magnam nemo nesciunt qui tenetur velit. Alias deleniti eaque enim sequi, tempora velit
    veritatis? Facilis ipsa labore minus odio quo tempore? A, alias aliquam aliquid dolor eveniet excepturi hic incidunt
    maiores modi perferendis praesentium quas qui quos ratione recusandae soluta tempora totam. Alias, animi culpa
    delectus eius esse eveniet ex id illum impedit iste magni nulla odio officiis quae quidem voluptas, voluptatibus! Ab
    accusantium, beatae doloremque ducimus enim expedita id itaque placeat possimus quibusdam rem reprehenderit
    voluptate voluptatibus. Fugiat ipsum nam nobis nostrum? Aliquid beatae consectetur dolor doloremque enim eum,
    exercitationem expedita explicabo harum hic illum in ipsa iste laborum minima minus nam nihil nostrum pariatur quae
    quos saepe similique sunt tempora voluptatibus! Aliquam aliquid amet architecto assumenda, commodi culpa dolor
    doloremque dolores ea eius enim et excepturi facere illum inventore ipsum natus nobis odio odit optio possimus quam
    repellendus saepe sit veritatis. Architecto atque cumque doloribus, eius fugiat laborum magnam maxime molestiae nemo
    nostrum odio, officia possimus, quam quo reprehenderit soluta tempora velit vitae. Accusamus adipisci architecto
    assumenda consequatur cum deserunt dicta distinctio, eaque eligendi eveniet excepturi explicabo facilis fuga fugit
    iusto laudantium libero maiores minima minus mollitia nam natus necessitatibus neque nostrum perspiciatis placeat,
    possimus quasi qui quibusdam quos ratione, rem similique soluta totam velit veritatis vitae. At atque et facilis
    pariatur praesentium quis sequi vel, velit. Aliquid fugit, iste nam praesentium temporibus vitae. Aspernatur autem
    cupiditate delectus et laudantium minima modi necessitatibus tempore tenetur unde. Earum ipsam nemo possimus sunt
    velit. Animi aspernatur, at doloremque dolorum ea fugit, illum iusto laboriosam laborum minus modi molestias, odio
    officiis omnis placeat praesentium provident quam quas quibusdam quidem ratione repellat saepe sapiente similique ut
    veritatis vero! Architecto assumenda beatae esse incidunt ipsam itaque maiores pariatur quae quia tenetur. Aliquid
    blanditiis cumque doloremque ex explicabo laboriosam quas sit veritatis?</p>
<!--End Lorem-->

{% endblock main %}


