
html {
    height: 100%;/*Прижате футера к низу*/
    overflow-x: hidden; /*Убирается горизонтальное движение влево-вправо на телефоне за границу сайта*/
}
body {
    display: flex;/*Прижате футера к низу*/
    flex-direction: column;/*Прижате футера к низу*/
    height: 100%;/*Прижате футера к низу*/
    background-color: var(--bs-body-color);
    overflow-x: hidden; /*Убирается горизонтальное движение влево-вправо на телефоне за границу сайта*/
}
header {
    flex: 0 0 auto;/*Прижате футера к низу*/
}
main {
    flex: 1 0 auto;/*Прижате футера к низу*/
    background-color: ghostwhite;
}
footer {
    flex: 0 0 auto;/*Прижате футера к низу*/
}

.navbar-brand{
    margin-right: 0px;
}

.nav-link{
    color: #fff;
    text-transform: uppercase;
}

#product-card{
    color: var(--bs-link-color);
    text-transform: uppercase;
}
main.carousel-item{
    height: 400px;
}
main .carousel-item img{
    height: 400px;
}

a.list-group-item {
    color: #007bff
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-secondary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
    white-space:pre-line;
}

.badge {
    --bs-badge-font-size: 0.5em;
}

.Contact-banner {
    position: relative;
    background-color: #050505;
    color: antiquewhite;
}

.Contact-top-left {
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: calc(20px + 1.5vw);
    font-family: comic sans ms,comic-sans-w01-regular,comic-sans-w02-regular,comic-sans-w10-regular,cursive;
    width: calc(100%/3*0.9);
    font-style: italic;
    cursor: pointer;
}
.Contact-top-right {
    position: absolute;
    bottom: 120px;
    right: 16px;
    font-size:  calc(15px + 1vw);
    font-family: impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
}
.Contact-top-right1 {
    position: absolute;
    bottom: 20px;
    right: 16px;
    font-size:  calc(15px + 1vw);
    width: 50%;
    text-align: right;
    font-family: impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    margin-top: 15px;
}

