{% extends 'products/base.html' %}
{% load humanize %}

{% block main %}

    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>Заказы</h1>
                <div class="orders mt-5">
                    <table class="table">
                        {#                    <caption>Заголовок</caption>#}
                        <thead>
                        <tr class="table-light">
                            <th scope="col">№</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Создан</th>
                            <th scope="col">Итого</th>
                            <th scope="col">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in object_list %}
                            <tr>
                                <th scope="row">{{ order.id }}</th>
{#                                <td>{{ order.get_status_display }}</td>#}
                                <td>
                                    <div class="dropdown">
                                        {% if order.get_status_display == 'Создан' %}
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    {{ order.get_status_display }}
                                            </button>
                                        {% else %}
                                            {% if order.get_status_display == 'В работе' %}
                                                <button class="btn btn-warning btn-sm dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    {{ order.get_status_display }}
                                                </button>
                                            {% else %}
                                                {% if order.get_status_display == 'Доставлен' %}
                                                <button class="btn btn-success btn-sm dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    {{ order.get_status_display }}
                                                </button>
                                                {% else %}
                                                    <button class="btn btn-danger btn-sm dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    {{ order.get_status_display }}
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        {%  endif %}
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'orders_for_staff' order.id 1 %}">Создан</a></li>
                                        <li><a class="dropdown-item" href="{% url 'orders_for_staff' order.id 2 %}">В работе</a></li>
                                        <li><a class="dropdown-item" href="{% url 'orders_for_staff' order.id 3 %}">Доставлен</a></li>
                                        <li><a class="dropdown-item" href="{% url 'orders_for_staff' order.id 4 %}">Отменен</a></li>
                                      </ul>
                                    </div>
                                    </td>
                                <td>{{ order.created }}</td>
                                <td>{{ order.basket_history.total_sum|intcomma }} руб.</td>
                                <td>
                                    <a href="{% url 'order_detail' order.id %}">просмотреть</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {#                    <tr class="table-success">#}
                        {#                        <th scope="row">2</th>#}
                        {#                        <td>Досталвен</td>#}
                        {#                        <td>16 июля 21 года</td>#}
                        {#                        <td>4 876 руб.</td>#}
                        {#                        <td>#}
                        {#                            <a href="order.html">просмотреть</a>#}
                        {#                        </td>#}
                        {#                    </tr>#}
                        {#                    <tr class="table-info">#}
                        {#                        <th scope="row">3</th>#}
                        {#                        <td>В пути</td>#}
                        {#                        <td>14 нояб. 21 года</td>#}
                        {#                        <td>9 566 руб.</td>#}
                        {#                        <td>#}
                        {#                            <a href="order.html">просмотреть</a>#}
                        {#                        </td>#}
                        {#                    </tr>#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!--Пагинация-->
    {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ p }}">{{ p }}<span class="sr-only"></span></a></li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <!--Конец погинации-->

{% endblock main %}
