{% extends 'products/base.html' %}

{% block main %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor maxime natus nesciunt praesentium provident quibusdam quod ratione! Delectus quisquam tenetur vel. Accusantium ad architecto at dignissimos dolor dolore earum esse ex explicabo hic, ipsum laborum nobis nostrum obcaecati provident quae quam quasi quo quod recusandae repellendus suscipit veniam voluptates? Ab dignissimos explicabo illum laudantium nostrum similique veritatis voluptas voluptate. Ad aliquid aperiam architecto enim est facere in iure modi nam, nihil nostrum, soluta vero. Accusamus, adipisci aliquid consequatur, delectus dignissimos dolorem ea eaque hic impedit maxime modi mollitia nam natus nihil officia quos repellat repellendus totam. Laudantium quam quibusdam vel.</p>

{% endblock main %}






